<html>
   <head>
      <title>Get Data</title>
   </head>

<body>
   <h1>Get Data</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="processdate" method="get">
      <p>Date to edit: <input type="date" name="date1"></p>
      <p>Data to edit: 
         <select name="action">
            <option value="log">Regular Log</option>
            <option value="main_testing">Main Testing</option>
         </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
