<html>
   <head>
      <title>Get Daily Maintenance Data</title>
   </head>

<body>
   <h1>Get Daily Maintenance Data</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="/app/download/process" method="get">
      <p>Start Date: <input type="date" name="date1"></p>
      <p>End Date: <input type="date" name="date2"></p>
      <input type="checkbox" name="alldates">Get All Entries</input>
      <select name="action">
         <option value="spreadsheet">Export to spreadsheet</option>
         <option value="temp">Temperature Plot</option>
         <option value="ph">ph Plot</option>
         <option value="do">do Plot</option>
         <option value="humidity">Humidity Plot</option>
         <option value="food">Food Plot</option>
      </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
