<html>
   <head>
      <title>Choose Format</title>
   </head>

<body>
   <h1>Choose Format</h1>

   <form action="spreadsheet" method="get">
      <input type="submit" value="Export to SpreadSheet"/>
   </form>
   <form action="temp" method="get">
      <input type="submit" value="Temperature Stats"/>
   </form>
   <form action="ph" method="get">
      <input type="submit" value="ph Stats"/>
   </form>
   <form action="do" method="get">
      <input type="submit" value="do Stats"/>
   </form>
   <form action="food" method="get">
      <input type="submit" value="do Stats"/>
   </form>
   
</body>
</html>
