<html>
   <head>
      <title>Get Data</title>
   </head>

<body>
   <h1>Get Data</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="/app/download/mn_process" method="get">
      <p>Date: <input type="date" name="date1"></p>
      <p>Date: <input type="date" name="date2"></p>
      <input type="checkbox" name="alldates">Get All Entries</input>
      <input type="checkbox" name="export">Export to Spreadsheet</input>
      <select name="system">
         <option value=1>System 1</option>
         <option value=2>System 2</option>
      </select>
      <select name="thetype">
         <option value="nitrate">Nitrate</option>
         <option value="phosphorus">Phosphorus</option>
         <option value="potassium">Potassium</option>
         <option value="ammonia">Ammonia</option>
         <option value="sulfate">Sulfate</option>
         <option value="calcium">Calcium</option>
         <option value="magnesium">Magnesium</option>
      </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
