<html>
   <head>
      <title>Data input</title>
   </head>

<body>
   <h1>Data input</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="" method="post">{% csrf_token %}
      <p>Date: <input type="date" name="date"/></p>
      <p>Author: <input type="text" name="author"/></p>
      <p>System #:<input type="number" name="system"/></p>
      <table style="border:1px solid gray">
         <tr>
            <td></td><td>Reading ppm</td><td>Actual ppm</td>
         </tr>
         <tr><p></p>
         </tr>
         <tr>
            <th>Nitrate</th>
            <td><input type="number" step="any" name="nitrate"/></td>
            <td><input type="number" step="any" name="nitrate"/></td>
         </tr>
         <tr>
            <th>Phosphorus</th>
            <td><input type="number" step="any" name="phosphorus"/></td>
            <td><input type="number" step="any" name="phosphorus"/></td>
         </tr>
         <tr>
            <th>Potassium</th>
            <td><input type="number" step="any" name="potassium"/></td>
            <td><input type="number" step="any" name="potassium"/></td>
         </tr>
         <tr>
            <th>Ammonia</th>
            <td><input type="number" step="any" name="ammonia"/></td>
            <td><input type="number" step="any" name="ammonia"/></td>
         </tr>
         <tr>
            <th>Sulfate</th>
            <td><input type="number" step="any" name="sulfate"/></td>
            <td><input type="number" step="any" name="sulfate"/></td>
         </tr>
         <tr>
            <th>Iron</th>
            <td><input type="text" name="iron_r"/></td>
            <td><input type="text" name="iron_a"/></td>
         </tr>
         <tr>
            <th>Calcium</th>
            <td><input type="number" step="any" name="calcium"/></td>
            <td><input type="number" step="any" name="calcium"/></td>
         </tr>
         <tr>
            <th>Magnesium</th>
            <td><input type="number" step="any" name="magnesium"/></td>
            <td><input type="number" step="any" name="magnesium"/></td>
         </tr>
         <tr>
            <th>Comment</th>
            <td><input type="text" name="note"/></td>
         </tr>
      </table>
      <input type="submit" value="Submit">
   </form>
</body>
</html>
