<html>
   <head>
      <title>Get Main Testing Data</title>
   </head>

<body>
   <h1>Get Main Testing Data </h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="/app/download/mt_process" method="get">
      <p><b>Select Date Range</b></p>
      <p>Date: <input type="date" name="date1"></p>
      <p>Date: <input type="date" name="date2"></p>
      <p><input type="checkbox" name="alldates">Get All Entries</input></p>
      <p></p>
      <p><b>Spreadsheet</b></p>
      <p><input type="submit" value="Export to Spreadsheet" name="export"></input></p>
      <p><b>Get Plot</b></p>
      <select name="system">
         <option value=1>System 1</option>
         <option value=2>System 2</option>
         <option value=3>Both</option>
      </select>
      <select name="where">
         <option value="tank1">Tank 1</option>
         <option value="tank2">Tank 2</option>
         <option value="tank3">Tank 3</option>
         <option value="tank4">Tank 4</option>
         <option value="sed">Sediment Tank</option>
         <option value="beg">Beginning Bed</option>
         <option value="end">Ending Bed</option>
         <option value="all">All</option>
      </select>
      <select name="thetype">
         <option value="ph">pH</option>
         <option value="temp">Temperature</option>
         <option value="do">DO</option>
         <option value="nitrate">Nitrate</option>
      </select>
      <input type="submit" value="Get Plot"/>
   </form>
</body>
</html>
