<html>
   <head>
      <title>Data input</title>
   </head>

<body>
   <h1>Data input</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="" method="post">{% csrf_token %}
      <p>Date: <input type="date" name="date" value={{mt.date}}></p>
      <p>Author: <input type="text" name="author" value={{mt.author}}></p>
      <table style="border:1px solid gray">
         <tr>
            <td></td><td>pH</td><td>Temp (F)</td><td>DO (mg/L)</td><td>Nitrate (mg/L)</td>
         </tr>
         <tr>
            <th>System {{mt.system}}</th>
         </tr>
         <tr><p></p>
         </tr>
         <tr>
            <th>Tank 1</th>
            <td><input type="number" step="any" name="tank11" value={{mt.tank1.ph}}/></td>
            <td><input type="number" step="any" name="tank11" value={{mt.tank1.temp}}/></td>
            <td><input type="number" step="any" name="tank11" value={{mt.tank1.do}}/></td>
            <td><input type="number" step="any" name="tank11" value={{mt.tank1.nitrate}}/></td>
         </tr>
         <tr>
            <th>Tank 2</th>
            <td><input type="number" step="any" name="tank21" value={{mt.tank2.ph}}/></td>
            <td><input type="number" step="any" name="tank21" value={{mt.tank2.temp}}/></td>
            <td><input type="number" step="any" name="tank21" value={{mt.tank2.do}}/></td>
            <td><input type="number" step="any" name="tank21" value={{mt.tank2.nitrate}}/></td>
         </tr>
         <tr>
            <th>Tank 3</th>
            <td><input type="number" step="any" name="tank31" value={{mt.tank3.ph}}/></td>
            <td><input type="number" step="any" name="tank31" value={{mt.tank3.temp}}/></td>
            <td><input type="number" step="any" name="tank31" value={{mt.tank3.do}}/></td>
            <td><input type="number" step="any" name="tank31" value={{mt.tank3.nitrate}}/></td>
         </tr>
         <tr>
            <th>Tank 4</th>
            <td><input type="number" step="any" name="tank41" value={{mt.tank4.ph}}/></td>
            <td><input type="number" step="any" name="tank41" value={{mt.tank4.temp}}/></td>
            <td><input type="number" step="any" name="tank41" value={{mt.tank4.do}}/></td>
            <td><input type="number" step="any" name="tank41" value={{mt.tank4.nitrate}}/></td>
         </tr>
         <tr>
            <th>Sediment Tank</th>
            <td><input type="number" step="any" name="sed1" value={{mt.sed.ph}}/></td>
            <td><input type="number" step="any" name="sed1" value={{mt.sed.temp}}/></td>
            <td><input type="number" step="any" name="sed1" value={{mt.sed.do}}/></td>
            <td><input type="number" step="any" name="sed1" value={{mt.sed.nitrate}}/></td>
         </tr>
         <tr>
            <th>Beginning Bed</th>
            <td><input type="number" step="any" name="beg1" value={{mt.beg.ph}}/></td>
            <td><input type="number" step="any" name="beg1" value={{mt.beg.temp}}/></td>
            <td><input type="number" step="any" name="beg1" value={{mt.beg.do}}/></td>
            <td><input type="number" step="any" name="beg1" value={{mt.beg.nitrate}}/></td>
         </tr>
         <tr>
            <th>End Bed</th>
            <td><input type="number" step="any" name="end1" value={{mt.end.ph}}/></td>
            <td><input type="number" step="any" name="end1" value={{mt.end.temp}}/></td>
            <td><input type="number" step="any" name="end1" value={{mt.end.do}}/></td>
            <td><input type="number" step="any" name="end1" value={{mt.end.nitrate}}/></td>
         </tr>
         <tr>
            <th>Comment</th>
            <td><input type="text" name="note1" value={{mt.note}}/></td>
         </tr>
      </table>
      <input type="submit" value="Submit">
   </form>
</body>
</html>
