<html>
   <head>
      <title>Data input</title>
   </head>

<body>
   <h1>Data input</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="" method="post">{% csrf_token %}
      <p>Date: <input type="date" name="date"></p>
      <p>Author: <input type="text" name="author"></p>
      <table>
         <tr>
            <td>pH</td><td>Temp (F)</td><td>DO (mg/L)</td><td>Nitrate (mg/L)</td>
         </tr>
         <tr>
            <th>System 1</th>
         </tr>
         <tr>
            <th>Tank 1</th>
            <td><input type="number" step="any" name="tank11"/></td>
            <th>Tank 2</th>
            <td><input type="number" step="any" name="tank21"/></td>
            <th>Tank 3</th>
            <td><input type="number" step="any" name="tank31"/></td>
            <th>Tank 4</th>
            <td><input type="number" step="any" name="tank41"/></td>
            <th>Sediment Tank</th>
            <td><input type="number" step="any" name="sed1"/></td>
            <th>Beginning Bed</th>
            <td><input type="number" step="any" name="beg1"/></td>
            <th>End Bed</th>
            <td><input type="number" step="any" name="end1"/></td>
         </tr>
         <tr>
            <th>System 1</th>
         </tr>
         <tr>
            <th>Tank 1</th>
            <td><input type="number" step="any" name="tank12"/></td>
            <th>Tank 2</th>
            <td><input type="number" step="any" name="tank22"/></td>
            <th>Tank 3</th>
            <td><input type="number" step="any" name="tank32"/></td>
            <th>Tank 4</th>
            <td><input type="number" step="any" name="tank42"/></td>
            <th>Sediment Tank</th>
            <td><input type="number" step="any" name="sed2"/></td>
            <th>Beginning Bed</th>
            <td><input type="number" step="any" name="beg2"/></td>
            <th>End Bed</th>
            <td><input type="number" step="any" name="end2"/></td>
         </tr>
      <input type="submit" value="Submit">
   </form>
</body>
</html>
