<html>
   <head>
      <title>Data input</title>
   </head>

<body>
   <h1>Data input</h1>

   {% if errors %}
      <ul>
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form action="" method="post">{% csrf_token %}
      <p>Date: <input type="date" name="date"></p>
      <p>Author: <input type="text" name="author"></p>
      <table style="border:1px solid gray">
         <tr>
            <td></td><td>pH</td><td>Temp (F)</td><td>DO (mg/L)</td><td>Nitrate (mg/L)</td>
         </tr>
         <tr>
            <th>System 1</th>
         </tr>
         <tr><p></p>
         </tr>
         <tr>
            <th>Tank 1</th>
            <td><input type="number" step="any" name="tank11_ph"/></td>
            <td><input type="number" step="any" name="tank11_temp"/></td>
            <td><input type="number" step="any" name="tank11_do"/></td>
            <td><input type="number" step="any" name="tank11_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 2</th>
            <td><input type="number" step="any" name="tank21_ph"/></td>
            <td><input type="number" step="any" name="tank21_temp"/></td>
            <td><input type="number" step="any" name="tank21_do"/></td>
            <td><input type="number" step="any" name="tank21_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 3</th>
            <td><input type="number" step="any" name="tank31_ph"/></td>
            <td><input type="number" step="any" name="tank31_temp"/></td>
            <td><input type="number" step="any" name="tank31_do"/></td>
            <td><input type="number" step="any" name="tank31_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 4</th>
            <td><input type="number" step="any" name="tank41_ph"/></td>
            <td><input type="number" step="any" name="tank41_temp"/></td>
            <td><input type="number" step="any" name="tank41_do"/></td>
            <td><input type="number" step="any" name="tank41_nitrate"/></td>
         </tr>
         <tr>
            <th>Sediment Tank</th>
            <td><input type="number" step="any" name="sed1_ph"/></td>
            <td><input type="number" step="any" name="sed1_temp"/></td>
            <td><input type="number" step="any" name="sed1_do"/></td>
            <td><input type="number" step="any" name="sed1_nitrate"/></td>
         </tr>
         <tr>
            <th>Beginning Bed</th>
            <td><input type="number" step="any" name="beg1_ph"/></td>
            <td><input type="number" step="any" name="beg1_temp"/></td>
            <td><input type="number" step="any" name="beg1_do"/></td>
            <td><input type="number" step="any" name="beg1_nitrate"/></td>
         </tr>
         <tr>
            <th>End Bed</th>
            <td><input type="number" step="any" name="end1_ph"/></td>
            <td><input type="number" step="any" name="end1_temp"/></td>
            <td><input type="number" step="any" name="end1_do"/></td>
            <td><input type="number" step="any" name="end1_nitrate"/></td>
         </tr>
         <tr>
            <th>Comment</th>
            <td><input type="text" name="note1"/></td>
         </tr>
         <tr>
            <th>System 2</th>
         </tr>
         <tr>
            <th>Tank 1</th>
            <td><input type="number" step="any" name="tank12_ph"/></td>
            <td><input type="number" step="any" name="tank12_temp"/></td>
            <td><input type="number" step="any" name="tank12_do"/></td>
            <td><input type="number" step="any" name="tank12_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 2</th>
            <td><input type="number" step="any" name="tank22_ph"/></td>
            <td><input type="number" step="any" name="tank22_temp"/></td>
            <td><input type="number" step="any" name="tank22_do"/></td>
            <td><input type="number" step="any" name="tank22_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 3</th>
            <td><input type="number" step="any" name="tank32_ph"/></td>
            <td><input type="number" step="any" name="tank32_temp"/></td>
            <td><input type="number" step="any" name="tank32_do"/></td>
            <td><input type="number" step="any" name="tank32_nitrate"/></td>
         </tr>
         <tr>
            <th>Tank 4</th>
            <td><input type="number" step="any" name="tank42_ph"/></td>
            <td><input type="number" step="any" name="tank42_temp"/></td>
            <td><input type="number" step="any" name="tank42_do"/></td>
            <td><input type="number" step="any" name="tank42_nitrate"/></td>
         </tr>
         <tr>
            <th>Sediment Tank</th>
            <td><input type="number" step="any" name="sed2_ph"/></td>
            <td><input type="number" step="any" name="sed2_temp"/></td>
            <td><input type="number" step="any" name="sed2_do"/></td>
            <td><input type="number" step="any" name="sed2_nitrate"/></td>
         </tr>
         <tr>
            <th>Beginning Bed</th>
            <td><input type="number" step="any" name="beg2_ph"/></td>
            <td><input type="number" step="any" name="beg2_temp"/></td>
            <td><input type="number" step="any" name="beg2_do"/></td>
            <td><input type="number" step="any" name="beg2_nitrate"/></td>
         </tr>
         <tr>
            <th>End Bed</th>
            <td><input type="number" step="any" name="end2_ph"/></td>
            <td><input type="number" step="any" name="end2_temp"/></td>
            <td><input type="number" step="any" name="end2_do"/></td>
            <td><input type="number" step="any" name="end2_nitrate"/></td>
         </tr>
         <tr>
            <th>Comment</th>
            <td><input type="text" name="note2"/></td>
         </tr>
      </table>
      <input type="submit" value="Submit">
   </form>
</body>
</html>
