<html>
   <head>
      <title>Get Data</title>
   </head>

<body>
   <h1>Get Data</h1>

   <form action="redirect/" method="get">
      <select name="action">
         <option value="inputs">Enter Data</option>
         <option value="download">Retrieve Data</option>
         <option value="mt_inputs">Enter Main Testing Data</option>
         <option value="mt_download">Retrieve Main Testing Data</option>
         <option value="mn_inputs">Enter Micro Nutrient Testing Data</option>
         <option value="mn_download">Retrieve Micro Nutrient Testing Data</option>
      </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
