<html>
   <head>
      <title>The Plant</title>
   </head>

<body>
   <h1>Select testing area and action</h1>

   <form action="redirect/" method="get">
      <select name="area">
         <option value="daily_maintenance">Daily Maintenance</option>
         <option value="main_testing">Main Testing</option>
         <option value="micro_nutrient">Micro Nutrient Testing</option>
         <option value="ammonia_nitrate">Ammonia Nitrate Testing</option>
      <select name="action">
         <option value="input">Enter Data</option>
         <option value="edit">Edit Data</option>
         <option value="download">Retrieve Data</option>
      </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
