<html>
   <head>
      <title>The Plant</title>
   </head>

<body>
   <h1>Select testing area and action</h1>

   <form action="redirect/" method="get">
      <select name="area">
         <option value="dm">Daily Maintenance</option>
         <option value="mt">Main Testing</option>
         <option value="mn">Micro Nutrient Testing</option>
         <option value="am">Ammonia Nitrate Testing</option>
      </select>
      <select name="action">
         <option value="i">Enter Data</option>
         <option value="e">Edit Data</option>
         <option value="d">Retrieve Data</option>
      </select>
      <input type="submit" value="Submit"/>
   </form>
   
</body>
</html>
